{% load i18n %}
<!DOCTYPE html>
<html lang="zh-CN">
{% include 'nav1.html' %}
<br/>
<div class="container-fluid">
    <div class="col-md-10">

        <div class="panel panel-success" id="basics_tax">
            <div class="panel-heading">
                <h3>{% blocktrans %}税率{% endblocktrans %}</h3>
            </div>
            {% comment %} <div class="panel-body">
                <h4>这里显示图表</h4>

            </div> {% endcomment %}
            <table data-toggle="table" data-pagination=true>
                <thead>
                    <tr>
                        <th data-align='center' data-valign='middle'>{% blocktrans %}月份{% endblocktrans %}</th>
                        <th data-align='center' data-valign='middle'>{% blocktrans %}税率{% endblocktrans %}</th>
                    </tr>

                </thead>
                <tbody>
                    {% for tax_rate in tax %}
                    <tr>
                        <td>{{tax_rate.time}}</td>
                        <td>{{tax_rate.tax}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>


        <div class="panel panel-success" id="basics_goods">
                <div class="panel-heading">
                    <h3>{% blocktrans %}货品{% endblocktrans %}</h3>
                </div>
                {% comment %} <div class="panel-body">
                    <h4>这里显示图表</h4>
    
                </div> {% endcomment %}
                <table data-toggle="table" data-pagination=true>
                    <thead>
                        <tr>
                            <th data-align='center' data-valign='middle'>{% blocktrans %}货品代码{% endblocktrans %}</th>
                            <th data-align='center' data-valign='middle'>{% blocktrans %}货品说明{% endblocktrans %}</th>
                            <th data-align='center' data-valign='middle'>GPC</th>
                        </tr>
    
                    </thead>
                    <tbody>
                        {% for goods_list in goods %}

                        <tr>
                            <td>{{goods_list.sku}}</td>
                            <td>{{goods_list.products}}</td>
                            <td>{{goods_list.gpc}}</td>
                        </tr>
                        {% endfor %}
    
                    </tbody>
                </table>
        </div>



        <div class="panel panel-success" id="basics_sku">
            <div class="panel-heading">
                <h3>{% blocktrans %}权重{% endblocktrans %}</h3>
            </div>
            {% comment %} <div class="panel-body">
                <h4>这里显示图表</h4>

            </div> {% endcomment %}
            <table data-toggle="table" data-pagination=true>
                <thead>
                    <tr>
                        <th data-align='center' data-valign='middle'>{% blocktrans %}序号{% endblocktrans %}</th>
                        <th data-align='center' data-valign='middle'>{% blocktrans %}货品代码{% endblocktrans %}</th>
                        <th data-align='center' data-valign='middle'>{% blocktrans %}名称{% endblocktrans %}</th>
                        <th data-align='center' data-valign='middle'>{% blocktrans %}权重值{% endblocktrans %}</th>
                    </tr>

                </thead>
                <tbody>
                    {% for sku_list in sku %}
                    <tr>
                        <td>{{sku_list.seq_no}}</td>
                        <td>{{sku_list.sku_id}}</td>
                        <td>{{sku_list.products}}</td>
                        <td>{{sku_list.price}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2">
        <div data-spy="affix">
            <nav class="nav nav-pills nav-stacked  ">
                <li role="presentation" id="li_basics_tax" class="active"><a href="#basics_tax">{% blocktrans %}税率{% endblocktrans %}</a></li>
                <li role="presentation" id="li_basics_goods" ><a href="#basics_goods">{% blocktrans %}货品{% endblocktrans %}</a></li>
                <li role="presentation" id="li_basics_sku" ><a href="#basics_sku">{% blocktrans %}权重{% endblocktrans %}</a></li>
            </nav>
        </div>

    </div>
</div>
<script>
        $(document).ready(function() {
            $("#li_basics_tax").click(function(e) {
                $('li').each(function() {
                    $(this).removeClass('active');
                })
                $('#li_basics_tax').addClass('active');
    
            })
            $("#li_basics_goods").click(function(e) {
                $('li').each(function() {
                    $(this).removeClass('active');
                })
                $('#li_basics_goods').addClass('active');
            })
            $("#li_basics_sku").click(function(e) {
                $('li').each(function() {
                    $(this).removeClass('active');
                })
                $('#li_basics_sku').addClass('active');
            })
    
    
        })
    </script>
</html>