{% load i18n %}
<!DOCTYPE html> {% include 'nav.html' %}

<script>
	onload = function () {
		var year = new Date().getFullYear(); //获取当前年份
		$("#sel").find("option[value=" + year + "]").prop("selected", true);
	}
</script>
<style>
	.panel-heading {
		margin-bottom: 20px;
	}

	.item p {
		line-height: 30px;
	}

	.item {
		margin-bottom: 10px
	}

	.item select {
		padding: 6px 12px;
		border-radius: 4px;
	}

	.report {
		width：30%;
		background: #337ab7;
		color: #fff;
		margin-bottom: 20px;
	}

	.report:hover,
	.report:active {
		background: #337ab7;
		color: #fff;
	}
</style>

<body>
	<div id="wrapper">
		<div class="overlay"></div>

		<!-- Sidebar -->
		<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
			<ul class="nav sidebar-nav">
				<li class="sidebar-brand">
					<a href="#">
						{%trans "果瑞士" %}
					</a>
				</li>
				<li>
					<a href="#order_count">
						<i class="fa fa-fw fa-file-o"></i> {%trans "数据导出" %}</a>
				</li>

			</ul>
		</nav>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
				<span class="hamb-top"></span>
				<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
			</button>


			<div class="container-fluid">
				<div class="col-md-8 col-md-offset-2">

					<div class="panel panel-success" id="fee_amount">
						<div class="panel-heading">
							<h3>{%blocktrans%}数据导出{%endblocktrans%}</h3>
						</div>
						{% comment %}
						<div class="panel-body">
						</div> {% endcomment %}
						<div class="clearfix item">
							<p class="col-sm-2">{% trans "报表类型"%}</p>
							<select id="lei" class="col-sm-4">
								<option value="1">{% blocktrans %}订单分析{%endblocktrans%}</option>
								<option value="2">{% trans "金额分析"%}</option>
								<option value="3">{%trans "货品分析"%}</option>
							</select>
						</div>
						<div class="clearfix item">
							<p class="col-sm-2">{% trans "年份"%}</p>
							<select id="sel" class="col-sm-4">
								{% for years in all_years %}
								<option value={ {years.yy}}>{{years.yy}}</option>
								{% endfor %}
							</select>
						</div>
						<div>
							<input id="exp" type="button" value="生成报表" class="col-sm-offset-2 report btn" />
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
<script type="text/javascript">
	$("#exp").click(function () {
		var sel = $("#sel").val();

		if ($("#lei").val() == '1') {
			location.href = "/export_order/?sel=" + sel;
		}
		if ($("#lei").val() == '2') {
			location.href = "/excel_export2/?sel=" + sel;
		}
		if ($("#lei").val() == '3') {
			location.href = "/excel_export/?sel=" + sel;
		}
	})
</script>

<script type="text/javascript">
	$(document).ready(function () {
		var trigger = $('.hamburger'),
			overlay = $('.overlay'),
			isClosed = false;

		trigger.click(function () {
			hamburger_cross();
		});

		function hamburger_cross() {

			if (isClosed == true) {
				overlay.hide();
				trigger.removeClass('is-open');
				trigger.addClass('is-closed');
				isClosed = false;
			} else {
				overlay.show();
				trigger.removeClass('is-closed');
				trigger.addClass('is-open');
				isClosed = true;
			}
		}

		$('[data-toggle="offcanvas"]').click(function () {
			$('#wrapper').toggleClass('toggled');
		});
	});
</script>

</html>