{% load i18n %}
<!DOCTYPE html> {% include 'nav.html' %}

<body>
    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        {%trans "果瑞士"%}
                    </a>
                </li>
                <li>
                    <a href="#inv_amount">
                        <i class="fa fa-fw fa-file-o"></i> {%trans "货品金额分析"%}</a>
                </li>
                <li>
                    <a href="#inv_count">
                        <i class="fa fa-fw fa-file-o"></i> {%trans "货品库存分析"%}</a>
                </li>

            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>

            <!-- container-->
            <div class="container">
                <div class="row">

                    <div class="panel panel-success" id="inv_amount">
                        <div class="panel-heading">
                            <h3>{%trans "货品金额分析"%}</h3>
                        </div>
                        <table data-toggle="table" data-pagination=true>
                            <thead>
                                <tr>
                                    <th data-align='center' data-valign='middle'>{%trans "月份"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "代码"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "货品"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "货品说明"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "订单销售数量"%}
                                        <br>{%trans "(拍下)"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "订单出库数量"%}
                                        <br>{%trans "(仓库)"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "交易成功订单销售数量"%}
                                        <br>{%trans "(最终成交)"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "订单销售金额"%}
                                        <br>{%trans "(拍下)"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "订单出库金额"%}
                                        <br>{%trans "(仓库)"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "交易成功订单销售金额"%}
                                        <br>{%trans "(最终成交)"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "期间交易出库金额"%}</th>
                                </tr>

                            </thead>
                            <tbody>
                                {% for index_inv_count in inv_count %}
                                <tr>
                                    <td>{{index_inv_count.period}}</td>
                                    <td>{{index_inv_count.gpc}}</td>
                                    <td>{{index_inv_count.goods_id}}</td>
                                    <td>{{index_inv_count.goods_name}}</td>
                                    <td>{{index_inv_count.sale_num}}</td>
                                    <td>{{index_inv_count.sale_out_number}}</td>
                                    <td>{{index_inv_count.order_deal_num}}</td>
                                    <td>¥{{index_inv_count.sale_amount}}</td>
                                    <td>¥{{index_inv_count.sale_out_amount}}</td>
                                    <td>¥{{index_inv_count.order_deal_amount}}</td>
                                    <td>¥{{index_inv_count.trans_amount}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>

                    <div class="panel panel-success" id="inv_count">
                        <div class="panel-heading">
                            <h3>{%trans "货品库存分析"%}</h3>
                        </div>

                        <table data-toggle="table" data-pagination=true>
                            <thead>
                                <tr>
                                    <th data-align='center' data-valign='middle'>{%trans "月份"%}</th>

                                    <th data-align='center' data-valign='middle'>{%trans "代码"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "货品"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "货品说明"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "期初数量"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "期间采购入库"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "期间其他入库"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "期间交易出库"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "期间其他出库"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "期末数量"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "期末-期初"%}</th>
                                    <th data-align='center' data-valign='middle'>{%trans "期间出入库流水总数量"%}</th>

                                </tr>

                            </thead>
                            <tbody>
                                {% for index_inv_count in inv_count %}

                                <tr>
                                    <td>{{index_inv_count.period}}</td>
                                    <td>{{index_inv_count.gpc}}</td>
                                    <td>{{index_inv_count.goods_id}}</td>
                                    <td>{{index_inv_count.goods_name}}</td>
                                    <td>{{index_inv_count.opening_inventory}}</td>
                                    <td>{{index_inv_count.purchase_in}}</td>
                                    <td>{{index_inv_count.other_in}}</td>
                                    <td>{{index_inv_count.trade_out}}</td>
                                    <td>{{index_inv_count.other_out}}</td>
                                    <td>{{index_inv_count.ending_inventory}}</td>
                                    <td>{{index_inv_count.diff_inventory}}</td>
                                    <td>{{index_inv_count.in_out_num}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
        <!-- container end-->
    </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>


<script type="text/javascript">
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
</script>

</html>