<!DOCTYPE html>
<html lang="zh-CN">
{% include 'nav.html' %}

<body>
    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        果瑞士
                    </a>
                </li>
                <li>
                    <a href="#order_count">
                        <i class="fa fa-fw fa-file-o"></i> 上传数据</a>
                </li>
                <li>
                    <a href="#order_amount">
                        <i class="fa fa-fw fa-file-o"></i> 预览数据</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>

            <!-- container-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-success" id="order_count">
                            <div class="panel-heading">
                                <h3>上传数据</h3>
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:120px">settlefee</span>
                                        <input type="file" name="file" id="settlefee" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="MutiFileUpload('settlefee')">上传</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="UndoUpload('settlefee')">撤回</button>
                                        </span>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:120px">inventory</span>
                                        <input type="file" name="file" id="inventory" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="MutiFileUpload('inventory')">上传</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="UndoUpload('inventory')">撤回</button>
                                        </span>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:120px">myaccount</span>
                                        <input type="file" name="file" id="myaccount" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="MutiFileUpload('myaccount')">上传</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="UndoUpload('myaccount')">撤回</button>
                                        </span>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:120px">order</span>
                                        <input type="file" name="file" id="order" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="MutiFileUpload('order')">上传</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="UndoUpload('order')">撤回</button>
                                        </span>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:120px">settlebatch</span>
                                        <input type="file" name="file" id="settlebatch" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="MutiFileUpload('settlebatch')">上传</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="UndoUpload('settlebatch')">撤回</button>
                                        </span>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:120px">settledetail</span>
                                        <input type="file" name="file" id="settledetail" class="form-control" multiple="multiple" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="MutiFileUpload('settledetail')">上传</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="UndoUpload('settledetail')">撤回</button>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:120px">fee</span>
                                        <input type="file" name="file" id="fee" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="MutiFileUpload('fee')">上传</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="UndoUpload('fee')">撤回</button>
                                        </span>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:120px">strade</span>
                                        <input type="file" name="file" id="strade" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="MutiFileUpload('strade')">上传</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="UndoUpload('strade')">撤回</button>
                                        </span>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:120px">tmallsodetails</span>
                                        <input type="file" name="file" id="tmallsodetails" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="MutiFileUpload('tmallsodetails')">上传</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="UndoUpload('tmallsodetails')">撤回</button>
                                        </span>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:120px">tmallso</span>
                                        <input type="file" name="file" id="tmallso" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="MutiFileUpload('tmallso')">上传</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="UndoUpload('tmallso')">撤回</button>
                                        </span>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:120px">transaction</span>
                                        <input type="file" name="file" id="transaction" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="MutiFileUpload('transaction')">上传</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="UndoUpload('transaction')">撤回</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <hr>
                <div>
                    <div class="panel panel-success" id="order_count">
                        <div class="panel-heading">
                            <h3>预览数据</h3>
                        </div>
                        <table id="showcsvdetail" data-pagination=“true”></table>

                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>数据处理</h3>

                    </div>
                    <br>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-3">
                                <button id="load_button" onclick="load_data()">
                                    <h4>执行导入</h4>
                                </button>
                                <hr>
                                <div id="prog_out_load" class="progress progress-striped active">
                                    <div id="prog_in_load" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 0%;">
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-8">
                                <button id="anayle_button" onclick="anayle_data()">
                                    <h4>执行分析</h4>
                                </button>
                                <hr>
                                <div id="prog_out" class="progress progress-striped active">
                                    <div id="prog_in" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 0%;">
                                    </div>
                                </div>
                            </div>



                        </div>
                        <br>




                    </div>


                </div>

            </div>
            <!-- container end-->
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>


<script type="text/javascript">
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
</script>
<script>
    function MutiFileUpload(id) {
        console.log('上传' + id + '文件');
        var form_data = new FormData();
        var file = $('#' + id)[0].files;
        console.log(file.length + "个文件")
        if (file.length == 0) {
            alert('你没有选择任何文件');
            return false
        }
        for (i = 0; i < file.length; i++) {
            form_data.append("file", file[i]);
        }

        form_data.append('type', id);


        $.ajax({
            url: 'upload/',
            type: 'POST',
            data: form_data,
            processData: false, // tell jquery not to process the data
            contentType: false, // tell jquery not to set contentType
            success: function (data) {

                //console.log(data)
                if (data == "decodeError") {
                    alert("文件编码错误")
                    return
                }
                console.log('ok')
                var columns = []
                var tabledata = []
                for (var i = 0; i < data[0].length; i++) {
                    var obj = {
                        field: data[0][i],
                        title: data[0][i]
                    };
                    columns.push(obj);
                }

                for (var j = 1; j < data.length; j++) {
                    var rowdata = {}
                    for (var i = 0; i < data[0].length; i++) {
                        rowdata[data[0][i]] = data[j][i];
                    }
                    tabledata.push(rowdata)
                }

                //console.log(tabledata)
                $('#showcsvdetail').bootstrapTable('destroy')
                $('#showcsvdetail').bootstrapTable({
                    "columns": columns
                })

                $('#showcsvdetail').bootstrapTable('load', tabledata)
            }
        });

    }

    function UndoUpload(id) {
        console.log('撤销' + id + '文件');
        var form_data = new FormData();
        var file_info = $('#' + id)[0].files[0];
        if (file_info == undefined) {
            alert('你没有选择任何文件');
            return false
        }
        form_data.append('filename', file_info.name);
        form_data.append('type', id);

        $.ajax({
            url: "UndoUpload/",
            type: 'POST',
            data: form_data,
            processData: false, // tell jquery not to process the data
            contentType: false, // tell jquery not to set contentType
            success: function (data) {
                console.log(data)
                $("#" + id).val("")
                $('#showcsvdetail').bootstrapTable('destroy')
            }
        });

    }



    function load_data() {
        $('#prog_out_load').attr("class", "progress progress-striped active");
        $('#prog_in_load').width('0%');
        var filenamelist = []
        if ($('#settlefee')[0].files != undefined && $('#settlefee')[0].files[0] != undefined) {
            filenamelist.push($('#settlefee')[0].files[0].name)
        }
        if ($('#fee')[0].files != undefined && $('#fee')[0].files[0] != undefined) {
            filenamelist.push($('#fee')[0].files[0].name)
        }
        if ($('#inventory')[0].files != undefined && $('#inventory')[0].files[0] != undefined) {
            filenamelist.push($('#inventory')[0].files[0].name)
        }
        if ($('#myaccount')[0].files != undefined && $('#myaccount')[0].files[0] != undefined) {
            filenamelist.push($('#myaccount')[0].files[0].name)
        }
        if ($('#order')[0].files != undefined && $('#order')[0].files[0] != undefined) {
            filenamelist.push($('#order')[0].files[0].name)
        }
        if ($('#settlebatch')[0].files != undefined && $('#settlebatch')[0].files[0] != undefined) {
            filenamelist.push($('#settlebatch')[0].files[0].name)
        }
        if ($('#settledetail')[0].files != undefined && $('#settledetail')[0].files[0] != undefined) {
            filenamelist.push($('#settledetail')[0].files[0].name)
        }
        if ($('#strade')[0].files != undefined && $('#strade')[0].files[0] != undefined) {
            filenamelist.push($('#strade')[0].files[0].name)
        }
        if ($('#tmallso')[0].files != undefined && $('#tmallso')[0].files[0] != undefined) {
            filenamelist.push($('#tmallso')[0].files[0].name)
        }
        if ($('#tmallsodetails')[0].files != undefined && $('#tmallsodetails')[0].files[0] != undefined) {
            filenamelist.push($('#tmallsodetails')[0].files[0].name)
        }
        if ($('#transaction')[0].files != undefined && $('#transaction')[0].files[0] != undefined) {
            filenamelist.push($('#transaction')[0].files[0].name)
        }
        var form_data = new FormData();
        if (filenamelist.length == 0) {
            alert("请选择一个或多个文件导入")
            return
        }
        form_data.append("filenamelist", filenamelist)
        var sitv = setInterval(function () {
            var prog_url = "load_data_to_db_process/";

            $.getJSON(prog_url, function (res) {
                console.log(res);
                $('#prog_in_load').width(res + '%'); // 改变进度条进度，注意这里是内层的div， res是后台返回的进度
            })
        }, 1000);

        $.ajax({
            url: "load_data_to_db/",
            type: 'POST',
            data: form_data,
            processData: false, // tell jquery not to process the data
            contentType: false, // tell jquery not to set contentType
            success: function (data) {
                console.log(data);
                if (data == "success") {
                    clearInterval(sitv); // 此时请求成功返回结果了，结束对后台进度的查询
                    $('#prog_out_load').attr("class", "progress progress-bar-success");
                    //alert("导入成功！")
                } else {
                    clearInterval(sitv);
                    alert("导入失败！")
                }
            },
            error: function () {
                alert("导入失败！")
            }
        })
    }

    function anayle_data() {
        $('#prog_out').attr("class", "progress progress-striped active");
        $('#prog_in').width('0%');
        var sitv = setInterval(function () {
            var prog_url = "analyse_data_process/";

            $.getJSON(prog_url, function (res) {
                console.log(res);
                $('#prog_in').width(res + '%'); // 改变进度条进度，注意这里是内层的div， res是后台返回的进度
            })
        }, 1000);

        $.ajax({
            url: "analyse_data/",
            type: 'POST',
            processData: false, // tell jquery not to process the data
            contentType: false, // tell jquery not to set contentType
            success: function (data) {
                console.log(data);
                if (data == "success") {
                    clearInterval(sitv); // 此时请求成功返回结果了，结束对后台进度的查询
                    $('#prog_out').attr("class", "progress progress-bar-success");
                } else {
                    clearInterval(sitv);
                }
            },
            error: function () {
                clearInterval(sitv); // 此时请求成功返回结果了，结束对后台进度的查询
                alert("导入失败！");
            }
        });
    }
</script>

</html>