{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>graceland</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href={% static 'css/reset.css'%}>
    <link rel="stylesheet" type="text/css" href={% static 'css/supersized.css'%}>
    <link rel="stylesheet" type="text/css" href={% static 'css/style-login.css'%}>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body>

    <div class="page-container">
        <h1>登录</h1>
        <div>
            <div>
                <input type="text" id="username" placeholder="用户名">
            </div>
            <div>
                <input type="password" id="password" placeholder="密码">
            </div>
            <div>
                <button id="loginButton">提交</button>
            </div>
            <div class="error">
                <span>333333333</span>
            </div>
        </div>

    </div>



    <!-- Javascript -->
    <script src={% static 'js/jquery.min.js'%}></script>
    <script src={% static 'js/supersized.3.2.7.min.js'%}></script>
    <script src={% static 'js/supersized-init.js'%}></script>
    <script src={% static 'js/scripts.js'%}></script>
    <script>
        $("#loginButton").click(function () {
            var username = $('#username').val()
            var password = $('#password').val()
            $.ajax({
                type: "POST",
                url: "login/",
                data: {
                    'username': username,
                    'password': password
                },
                success: function (data) {
                    console.log(data)
                    if (data.status == true) {
                        window.location.href = "order/"
                    } else {
                        alert(data.msg)
                        
                    }

                },
                error: function () {
                    alert(data.msg)
                }
            })

        });
    </script>
</body>

</html>