<!DOCTYPE html>
<html lang="zh-CN">
{% include 'nav.html' %}
<br/>

<div class="container-fluid">
    <div class="col-md-10">
        <div class="panel panel-success" id="order_count">
            <div class="panel-heading">
                <h3>状态分析(数量)</h3>
            </div>
            <div class="panel-body">

                <svg width="1000" height="500"></svg>

            </div>
            <table data-toggle="table">
                <thead>
                    <tr>
                        <th>订单月份</th>
                        <th>订单总数量</th>
                        <th>交易成功订单数量</th>
                        <th>交易关闭订单数量</th>
                        <th>其他状态订单数量</th>
                        <th>关闭(买家未付款)订单数量</th>
                        <th>关闭(退款)订单数量</th>

                    </tr>
                </thead>
                <tbody>
                    {% for order_status in order_status_list %}
                    <tr>
                        <td>{{order_status.period}}</td>
                        <td>{{order_status.sum_order_num}}</td>
                        <td>{{order_status.sum_saled_num}}</td>
                        <td>{{order_status.sum_closed_num}}</td>
                        <td>{{order_status.sum_waiting_num}}</td>
                        <td>{{order_status.sum_close_unpaid_num}}</td>
                        <td>{{order_status.sum_close_return_num}}</td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>

        </div>
        <div class="panel panel-success" id="order_amount">
            <div class="panel-heading">
                <h3>状态分析(金额)</h3>
            </div>
            <div class="panel-body">
                <h4>这里显示图表</h4>

            </div>
            <table data-toggle="table">
                <thead>
                    <tr>
                        <th>订单月份</th>
                        <th>订单总金额</th>
                        <th>交易成功订单金额</th>
                        <th>交易关闭订单金额</th>
                        <th>其他状态订单金额</th>
                        <th>关闭(买家未付款)订单金额</th>
                        <th>关闭(退款)订单金额</th>
                    </tr>

                </thead>
                <tbody>
                    {% for order_status in order_status_list %}
                    <tr>
                        <td>{{order_status.period}}</td>
                        <td>{{order_status.sum_order_amount}}</td>
                        <td>{{order_status.sum_saled_amount}}</td>
                        <td>{{order_status.sum_closed_amount}}</td>
                        <td>{{order_status.sum_waiting_amount}}</td>
                        <td>{{order_status.sum_close_unpaid_amount}}</td>
                        <td>{{order_status.sum_close_unpaid_amount}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="panel panel-success" id="buyer_count">
            <div class="panel-heading">
                <h3>买家分析(数量)</h3>
            </div>
            <div class="panel-body">
                <h4>这里显示图表</h4>

            </div>
            <table data-toggle="table">
                <thead>
                    <tr>
                        <th>月份</th>
                        <th>账号总数</th>
                        <th>新账号数</th>
                        <th>老账号数</th>
                        <th>无账号订单数</th>
                        <th>新账号订单数</th>
                        <th>老账号订单数</th>
                    </tr>

                </thead>
                <tbody>
                    {% for buyer_status in buyer_status_list %}
                    <tr>
                        <td>{{buyer_status.period}}</td>
                        <td>{{buyer_status.total_count}}</td>
                        <td>{{buyer_status.new_count}}</td>
                        <td>{{buyer_status.old_count}}</td>
                        <td>{{buyer_status.no_account_orders}}</td>
                        <td>{{buyer_status.new_orders}}</td>
                        <td>{{buyer_status.old_orders}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="panel panel-success" id="buyer_amount">
            <div class="panel-heading">
                <h3>买家分析(金额)</h3>
            </div>
            <div class="panel-body">
                <h4>这里显示图表</h4>

            </div>
            <table data-toggle="table">
                <thead>
                    <tr>
                        <th>月份</th>
                        <th>账号总订单金额</th>
                        <th>无账号订单金额</th>
                        <th>新账号订单金额</th>
                        <th>老账号订单金额</th>
                    </tr>

                </thead>
                <tbody>
                    {% for buyer_status in buyer_status_list %}
                    <tr>
                        <td>{{buyer_status.period}}</td>
                        <td>{{buyer_status.total_amount}}</td>
                        <td>{{buyer_status.no_account_amount}}</td>
                        <td>{{buyer_status.new_orders_amount}}</td>
                        <td>{{buyer_status.old_orders_amount}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="panel panel-success" id="region_count">
            <div class="panel-heading">
                <h3>区域分析(数量)</h3>
            </div>
            <div class="panel-body">
                <h4>这里显示图表</h4>

            </div>
            <table data-toggle="table">
                <thead>
                    <tr>

                        <th>华东订单数量</th>
                        <th>华中订单数量</th>
                        <th>华南订单数量</th>
                        <th>西南订单数量</th>
                        <th>东北订单数量</th>
                        <th>华北订单数量</th>
                        <th>西北订单数量</th>
                        <th>其他区域订单</th>
                    </tr>

                </thead>
                <tbody>
                    {% for region_status in region_status_list %}
                    <tr>

                        <td>{{region_status.1}}</td>
                        <td>{{region_status.2}}</td>
                        <td>{{region_status.3}}</td>
                        <td>{{region_status.4}}</td>
                        <td>{{region_status.5}}</td>
                        <td>{{region_status.6}}</td>
                        <td>{{region_status.7}}</td>
                        <td>{{region_status.9}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="panel panel-success" id="region_amount">
            <div class="panel-heading">
                <h3>区域分析(金额)</h3>
            </div>
            <div class="panel-body">
                <h4>这里显示图表</h4>

            </div>
            <table data-toggle="table">
                <thead>
                    <tr>

                        <th>华东订单金额</th>
                        <th>华中订单金额</th>
                        <th>华南订单金额</th>
                        <th>西南订单金额</th>
                        <th>东北订单金额</th>
                        <th>华北订单金额</th>
                        <th>西北订单金额</th>
                        <th>其他区域金额</th>
                    </tr>

                </thead>
                <tbody>
                    {% for region_status in status_region_amount_list %}
                    <tr>

                        <td>{{region_status.1}}</td>
                        <td>{{region_status.2}}</td>
                        <td>{{region_status.3}}</td>
                        <td>{{region_status.4}}</td>
                        <td>{{region_status.5}}</td>
                        <td>{{region_status.6}}</td>
                        <td>{{region_status.7}}</td>
                        <td>{{region_status.9}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>


    </div>
    <div class="col-md-2">
        <div data-spy="affix">
            <nav class="nav nav-pills nav-stacked  ">
                <li role="presentation" id="li_order_count" class="active"><a href="#order_count">状态分析（数量）</a></li>
                <li role="presentation" id="li_order_amount"><a href="#order_amount">状态分析（金额）</a></li>
                <li role="presentation" id="li_buyer_count"><a href="#buyer_count">账号分析（数量）</a></li>
                <li role="presentation" id="li_buyer_amount"><a href="#buyer_amount">账号分析（金额）</a></li>
                <li role="presentation" id="li_region_count"><a href="#region_count">区域分析（数量）</a></li>
                <li role="presentation" id="li_region_amount"><a href="#region_amount">区域分析（金额）</a></li>
            </nav>
        </div>

    </div>

</div>



<script>
    $(document).ready(function() {
        $("#li_order_count").click(function(e) {
            $('li').each(function() {
                $(this).removeClass('active');
            })
            $('#li_order_count').addClass('active');

        })
        $("#li_order_amount").click(function(e) {
            $('li').each(function() {
                $(this).removeClass('active');
            })
            $('#li_order_amount').addClass('active');
        })
        $("#li_buyer_count").click(function(e) {
            $('li').each(function() {
                $(this).removeClass('active');
            })
            $('#li_buyer_count').addClass('active');

        })
        $("#li_buyer_amount").click(function(e) {
            $('li').each(function() {
                $(this).removeClass('active');
            })
            $('#li_buyer_amount').addClass('active');
        })
        $("#li_region_count").click(function(e) {
            $('li').each(function() {
                $(this).removeClass('active');
            })
            $('#li_region_count').addClass('active');
        })
        $("#li_region_amount").click(function(e) {
            $('li').each(function() {
                $(this).removeClass('active');
            })
            $('#li_region_amount').addClass('active');
        })
    })
</script>

<script>
    var svg = d3.select("svg"),
        margin = {
            top: 20,
            right: 80,
            bottom: 30,
            left: 50
        },
        width = svg.attr("width") - margin.left - margin.right,
        height = svg.attr("height") - margin.top - margin.bottom,
        g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var parseTime = d3.timeParse("%Y%m%d");

    var x = d3.scaleTime().range([0, width]),
        y = d3.scaleLinear().range([height, 0]),
        z = d3.scaleOrdinal(d3.schemeCategory10);

    var line = d3.line()
        .curve(d3.curveBasis)
        .x(function(d) {
            return x(d.date);
        })
        .y(function(d) {
            return y(d.temperature);
        });

    d3.tsv("../static/mul_data.tsv", type, function(error, data) {
        if (error) throw error;

        var cities = data.columns.slice(1).map(function(id) {
            return {
                id: id,
                values: data.map(function(d) {
                    return {
                        date: d.date,
                        temperature: d[id]
                    };
                })
            };
        });

        x.domain(d3.extent(data, function(d) {
            return d.date;
        }));

        y.domain([
            d3.min(cities, function(c) {
                return d3.min(c.values, function(d) {
                    return d.temperature;
                });
            }),
            d3.max(cities, function(c) {
                return d3.max(c.values, function(d) {
                    return d.temperature;
                });
            })
        ]);

        z.domain(cities.map(function(c) {
            return c.id;
        }));

        g.append("g")
            .attr("class", "axis axis--x")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        g.append("g")
            .attr("class", "axis axis--y")
            .call(d3.axisLeft(y))
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", "0.71em")
            .attr("fill", "#000")
            .text("Temperature, ºF");

        var city = g.selectAll(".city")
            .data(cities)
            .enter().append("g")
            .attr("class", "city");

        city.append("path")
            .attr("class", "line")
            .attr("d", function(d) {
                return line(d.values);
            })
            .style("stroke", function(d) {
                return z(d.id);
            });

        city.append("text")
            .datum(function(d) {
                return {
                    id: d.id,
                    value: d.values[d.values.length - 1]
                };
            })
            .attr("transform", function(d) {
                return "translate(" + x(d.value.date) + "," + y(d.value.temperature) + ")";
            })
            .attr("x", 3)
            .attr("dy", "0.35em")
            .style("font", "10px sans-serif")
            .text(function(d) {
                return d.id;
            });
    });

    function type(d, _, columns) {
        d.date = parseTime(d.date);
        for (var i = 1, n = columns.length, c; i < n; ++i) d[c = columns[i]] = +d[c];
        return d;
    }
</script>

</html>